[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
python-dotenv = "*"
alphorn = {editable = true, git = "ssh://git@github.com/grudelsud/alphorn.git"}
sqlalchemy = "*"
"boto3" = "*"
pymysql = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
